$color-primary: #0080dd;
$color-secondary: #003358;
$color-dark-gray: #585858;
$color-light-gray: #efefef;
$color-lighter: #58585820;
$color-white: #fff;
$color-black: #000;
$base-radius: 12px;
$base-margin: 32px;
$base-padding: 8px;
